body, html {
    height: 100%;
    margin: 0;
  }
  
  #header {
    background-color: #F7F7F8;
    display: flex;
    align-items: center;
    height: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Efecto de sombreado */
  }
  
  #banner {
    background-color: #F7F7F8;
    display: flex;
    align-items: center;
    height: 50px;
  }
  #logo-telus {
    max-width: 170px; /* Cambia el valor según sea necesario */
    height: auto; /* La altura se ajustará automáticamente según la proporción original */
    border-right: 1.5px solid #CCCCCC;
  
  }
  
  h1 {
    color: #4B286D;
    font-family: Helvetica;
    font-size: 26px;
    line-height: 50px;
    margin: 0;
    padding: 0 20px;
  }
  
  #container {
    display: flex;
    height: calc(100% - 50px); /* El 50px es la altura del banner */
  }
  
  #sidebar {
    background-color: #F7F7F8;
    color: white;
    padding: 60px;
    display: flex;
    margin-top: 4px;
    flex-direction: column; /* Cambiamos la dirección de los elementos a vertical */
    font-family: Helvetica; /* Establece la fuente a Helvetica */
    flex: 0 0 auto;
    border-right: 1px solid #CCCCCC;
  }
  
  #webchat-container {
    flex: 1;
    display: flex;
    align-items: center; /* Centramos el webchat verticalmente */
    justify-content:left; /* Centra horizontalmente */
  }
  
  #webchat {
    width: 99%; /* Ocupa todo el ancho del contenedor */
    height: 90vh; /* Altura del webchat, puedes ajustar este valor según tu preferencia */
  }
  
  .button {
    background-color: #F7F7F8;
    color: #2A2C2E;
    font-family: Helvetica; /* Establece la fuente a Helvetica */
    font-size: 16px; /* Establece el tamaño de la fuente */
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-bottom: 10px; /* Espacio entre los botones */
    cursor: pointer;
    transition: background-color 1s ease; /* Transición suave para el cambio de color */
    
  }
  
  .button:hover {
    background-color: #634694; /* Cambia el color de fondo al hacer hover */
    color: #F7F7F8;
  
  }
  #sidebar .button  { 
    
    width: 100% ;
    margin-bottom: 5px; /* Modifica el margen entre los botones según tu preferencia */
  }
  
  .disclaimer-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    z-index: 9999; /* Asegura que el overlay esté encima de otros elementos */
  }
  
  .disclaimer-banner {
    background-color: #F7F7F8;
    font-family: Helvetica;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .disclaimer-banner p {
    margin: 0 0 10px; /* Añade un margen inferior para separar el texto del botón */
  }
  
  .disclaimer-banner button {
    background-color: #4B286D;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .disclaimer-banner button:hover {
    background-color: #2B8000;
  }
  
  a.button {
    text-decoration: none; /* Quita el subrayado del enlace */
  }
  
  