/* Estilo del header */
#header {
    background-color: #F7F7F8;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Estilo del título NEBULA */
h1 {
    color: #4B286D;
    font-family: Helvetica;
    font-size: 26px;
    line-height: 20px;
    margin: 0;
    padding-right: 10px;
    border-right: 1px solid #ccc;
}

/* Estilo de los controles en el header */
.header-controls {
    display: flex;
    align-items: center;
}

/* Estilo del texto del toggle */
label[for="internetSearchToggle"] {
    margin-right: 10px;
}

/* Estilo del toggle */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

/* Estilo del checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* Estilo del slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 20px;
}

/* Estilo del slider cuando está en posición activa */
.slider.round {
    border-radius: 20px;
}

/* Estilo del slider en posición activa */
.slider.round:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

/* Estilo del checkbox cuando está marcado */
input:checked + .slider {
    background-color: #66CC00;
}

/* Estilo del slider cuando está en posición activa */
input:checked + .slider:before {
    transform: translateX(20px);
}

/* Estilo del botón en el header */
.headerButton {
    background-color: transparent;
    border: none;
    color: #4B286D;
    cursor: pointer;
    transition: color 0.3s;
}

/* Efecto hover del botón */
.headerButton:hover {
    color: #66CC00;
}

/* Efecto clic del botón */
.headerButton:active {
    color: #66CC00;
}

/* Estilos para la barra lateral */
#sidebar {
    width: 200px;
    height: 100vh;
    background-color: #F7F7F8;
    border-right: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.sidebar-button {
    flex: 1;
    border: none;
    background-color: transparent;
    color: #4B286D;
    font-size: 16px;
    text-align: left;
    padding: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.sidebar-button:hover {
    background-color: #66CC00;
}

/* Estilo del contenedor principal */
.container {
    display: flex;
}

/* Estilo del chat */
#chat-container {
    flex: 1;
    height: 100vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

/* Estilo del webchat */
#webchat {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}
